.vercel
.env
.env.*
!.env.example
.env*.local
node_modules/
public/
!public/
public/*
!public/manifest.webmanifest
!public/icons/
!public/icons/**
public/*.html
!public/app/
!public/app/**
!public/data/
!public/data/**
!public/styles/
!public/styles/**
.DS_Store
